/public

/frontend/node_modules
/frontend/package-lock.json

/frontend/fea_service/wasm_modules/renderer/Cargo.lock
/frontend/fea_service/wasm_modules/renderer/target

/frontend/fea_service/wasm_modules/actions_router/Cargo.lock
/frontend/fea_service/wasm_modules/actions_router/target

/frontend/fea_service/wasm_modules/preprocessor/Cargo.lock
/frontend/fea_service/wasm_modules/preprocessor/target

/frontend/fea_service/wasm_modules/mesher/Cargo.lock
/frontend/fea_service/wasm_modules/mesher/target

/frontend/fea_service/wasm_modules/solver/Cargo.lock
/frontend/fea_service/wasm_modules/solver/target

/frontend/fea_service/wasm
